name: Check Attributions

on:
  push:
    branches:
      - release/*

jobs:
  check-attributions:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout and setup environment
        uses: MetaMask/action-checkout-and-setup@v3
        with:
          is-high-risk-environment: false
          skip-allow-scripts: true

      - name: Check attributions changes
        run: yarn attributions:check
